@font-face {
	font-family: 'bb-logo';
	src:url('{FL_THEME_URL}/fonts/bb-logo.eot');
	src:url('{FL_THEME_URL}/fonts/bb-logo.svg#bb-logo') format('svg'),
	    url('{FL_THEME_URL}/fonts/bb-logo.woff') format('woff'),
	    url('{FL_THEME_URL}/fonts/bb-logo.eot?#iefix') format('embedded-opentype'),
		url('{FL_THEME_URL}/fonts/bb-logo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.icon-automator-logo {
	display: inline-block;
	font-family: 'bb-logo';
	font-size: 30px;
	margin: 10px 0;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-automator-logo:before {
	content: "\e7070";
}
