/* Wrapper */
.fl-content-slider,
.fl-content-slider .fl-slide {
    min-height: 0 !important;
}

/* Background Photo */
.fl-content-slider .fl-slide-bg-photo {
    background-image: none;
    position: static;
}
.fl-content-slider .fl-slide-bg-photo a {
    position: static;
}
.fl-content-slider .fl-slide-bg-photo-img {
    border: none;
    display: block;
    padding: 0;
}

/* Foreground Photo/Video */
.fl-slide-photo-wrap {
    display: none;
}

/* Mobile Photo/Video */
.fl-slide-mobile-photo {
    display: block;
}

/* Title and Text Position */
.fl-slide-text-left .fl-slide-content-wrap,
.fl-slide-text-right .fl-slide-content-wrap {
    float: none;
    text-align: center;
}
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content-wrap,
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    min-height: 0;
    width: auto;
}
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    margin: 0 !important; 
    padding: 30px;
}

/* Title and Text Style */
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-title {    
    font-size: 26px !important; 
    line-height: 38px !important;
}
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text,
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text * {    
    font-size: 14px !important; 
    line-height: 22px !important;
}

/* Buttons */
.fl-builder-content .fl-module-content-slider .fl-slide a.fl-button {    
    padding: 10px 20px !important;
}